{
  "env": {
    "production": {
      "presets": [
       [
         "@babel/env",
          { "modules": false },
          "minify"
        ]
      ]
    }
  },
  "plugins": [],
  "ignore": [
    "node_modules/**",
    "*.test.js"
  ]
}
